server:
  servlet:
    encoding:
      charset: UTF-8
      force-response: true

spring:
  mvc:
    log-resolved-exception: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
